.navLink {
  list-style-type: none;
  text-decoration: none;
}

.navLink::before {
  list-style-type: none;

  content: '';

  clear: both;
}

.navLink::after {
  list-style-type: none;

  content: '';

  clear: both;
}
